* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
    
}
#main{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
     font-weight: lighter;
}

.shape{
    margin-left: 15px;
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    display: flex;
    align-items: center;justify-content: center;
}
#square{
    border-radius: 10px;
}
#square:hover{
    background-color: burlywood;
     
}

#circle{
     border-radius: 100%;
    
}
#circle:hover{
     background-color: aqua;
}

#diamond{
    rotate: 45deg;
     margin-top: 60px;
     border-radius: 10px;
    }
     
#diamond h1{
    rotate: -45deg;
   
}

#diamond:hover
{
    background-color: rgb(28, 207, 28);
}